@model Caso_estudio1_GRUPO7.Juego

@{
    ViewData["Title"] = "Gato";
}

<h1>Gato</h1>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <p>@ViewBag.Message</p>
}

<table border="1">
    @for (int i = 0; i < 3; i++)
    {
        <tr>
            @for (int j = 0; j < 3; j++)
            {
                <td>
                    @{
                        var valorCasilla = Model.Tablero[i, j];
                        var casillaOcupada = valorCasilla != ' ';
                    }

                    @if (casillaOcupada)
                    {
                        <span>@valorCasilla</span>
                    }
                    else
                    {
                        <form asp-controller="Home" asp-action="Jugada" method="post">
                            <input type="hidden" name="fila" value="@i" />
                            <input type="hidden" name="columna" value="@j" />
                            <input type="submit" value=" " />
                        </form>
                    }
                </td>
            }
        </tr>
    }
</table>
